:root {
    --primary-color: #1770B5;
    --secondary-color: #258bd2;
    --accent-color: #4ca6e4;
    --primary-black-color: #145890;
    --secondary-black-color: #144b78;
    --accent-black-color: #163f64;
    --font-color: #f2f8fd;
    --font-black-color: #0f2942;
    --font-hover-color: #c1dff6;
    --form-color: #f2f8fd;
    --form-black-color: #0f2942;
}

::selection {
    background: var(--accent-color);
}

.table-container::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #c1dff6;
}

.table-container::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #0f2942;
}

.table-container {
    max-height: 640px;
}

body {
    min-height: 100dvh;
    display: grid !important;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(var(--secondary-black-color) 0%, var(--primary-black-color) 100%) !important;
}

nav {
    background: var(--primary-black-color) !important;
}

.navbar-brand,
.nav-link {
    color: var(--font-color) !important;
}

.nav-link.active {
    font-weight: 500;
}

.nav-link:hover {
    color: var(--font-hover-color) !important;
}

.navbar-toggler-icon {
    height: auto !important;
    color: var(--font-color);
    background-image: none !important;
}

.navbar-toggler {
    line-height: 0 !important;
    font-size: 2rem !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

footer {
    height: 100px;
    color: var(--font-color) !important;
    /* background: var(--primary-black-color); */
}

footer a {
    font-weight: 700;
    color: #ffff !important;
    transition: all .5s ease;
}

footer a:hover {
    color: var(--font-hover-color) !important;
}