:root {
    --primary-color: #1770B5;
    --secondary-color: #258bd2;
    --accent-color: #4ca6e4;
    --primary-black-color: #145890;
    --secondary-black-color: #144b78;
    --accent-black-color: #163f64;
    --font-color: #f2f8fd;
    --font-black-color: #474747;
    --font-hover-color: #c1dff6;
    --form-color: #f2f8fd;
    --form-black-color: #0f2942;
    --background-light: #daecfa;
    --background-dark: #0f2942;
    --background-dark-opacity: #4747478f;
    --primary-button: #268dd1;
    --primary-button-hover: #176fb2;
}

::selection {
    background: var(--accent-color);
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-light);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: var(--background-dark-opacity);
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body.swal2-height-auto {
    height: inherit !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

main #siteMain {
    transition: all 0.35s ease-in-out;
    background: url('../../public/img/logo-isus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - 20%);
    z-index: 2;
}

#applicationContent {
    min-width: 350px;
    max-width: calc(100% - 70%);
    color: var(--font-color);
    background: linear-gradient(to top left, var(--secondary-black-color) 0%, var(--background-dark) 100%);
    box-shadow: 15px 20px 3.5rem rgba(0, 0, 0, .5);
}

.bi-check-circle-fill {
    border: none;
    color: #0fcd0f;
}

.bi-dash-circle-fill{
    border: none;
    color: #cd320f;
}
